//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

.header {
    border-bottom: 1px solid $border-color;
    background-color: $header-bg;
    margin-bottom: 45px;
    padding: 20px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-navigation,
.header-lang,
.header-navigation-search {
    align-items: center;;
    display: flex;
}

.header-navigation-link {
    color: $dark-txt-color;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;

    &:before {
        background-color: $btn-color;
        bottom: -30px;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        transition: all .2s ease;
        width: 0;
    }

    &:hover,
    &.link-is-active {
        &:before {
            width: 100%;
        }
    }
}

.header-lang-btn {
    background-color: rgba(#fff, .8);
    border:1px solid $btn-color;
    color: $btn-color;
    font-size: 18px;
    padding: 5px;
    text-transform: uppercase;
    transition: all .2s ease;
    
    &.btn-is-active {
        background-color: $btn-color;
        border-color: transparent;
        color: #fff;
    }
}

.header-input-wrapper {
    width: 0;
    overflow: hidden;
    transition: all .2s ease;

    &.header-input-wrapper-is-active {
        width: 100%;
    }
}

.header-input {
    background-color: $body-bg;
    border: 0;
    color: $dark-txt-color;
    font-size: 15px;
    outline: none;
    padding: 8px;;
}