//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

.header {
    border-bottom: 1px solid $border-color;
    background-color: $header-bg;
    margin-bottom: 45px;
    position: relative;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header-navigation-wrapper {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 600px) {
        background-color: #fff;
        display: block;
        left: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 73px;
        width: 100%;

        &.navigation-is-active {
            height: initial;
        }
    }
}

.header-navigation-burger {
    align-items: center;
    cursor: pointer;
    display: none;
    height: 10px;
    position: relative;
    width: 20px;

    @media only screen and (max-width: 600px) {
        display: flex;
    }
}

.burger-item {
    background-color: $dark-txt-color;
    display: block;
    height: 2px;
    width: 100%;

    .burger-is-active & {
        background-color: transparent;

        &:before {
            transform: translateY(-50%) rotate(45deg);
        }

        &:after {
            transform: translateY(-50%) rotate(-45deg);
        }

        &:before,
        &:after {
            top: 50%;
            bottom: initial;
        }
    }

    &:before,
    &:after {
        background-color: $dark-txt-color;
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
    }

    &:before {
        top: 0px;
    }

    &:after {
        bottom: 0px;
    }
}

.header-navigation,
.header-lang,
.header-navigation-search {
    align-items: center;;
    display: flex;
}

.header-navigation-link {
    color: $dark-txt-color;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;

    &:before {
        background-color: $btn-color;
        bottom: -30px;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        transition: all .2s ease;
        width: 0;
    }

    &:hover,
    &.link-is-active {
        &:before {
            width: 100%;
        }
    }

    @media only screen and (max-width: 600px) {
        display: block;
        padding: 15px;

        &:before {
            display: none;
        }
    }
}

.header-lang-is-disabled {
    opacity: .5;
}

.header-lang-btn {
    background-color: rgba(#fff, .8);
    border:1px solid $btn-color;
    color: $btn-color;
    font-size: 18px;
    padding: 5px;
    text-transform: uppercase;
    transition: all .2s ease;
    
    &.btn-is-active {
        background-color: $btn-color;
        border-color: transparent;
        color: #fff;
    }
}

.header-input-wrapper {
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;

    &.header-input-wrapper-is-active {
        opacity: 1;
        visibility: visible;
    }
}

.header-input {
    background-color: $body-bg;
    border: 0;
    color: $dark-txt-color;
    font-size: 15px;
    outline: none;
    padding: 8px;;
}