//--------------------------------------------------------------
// Top results
//--------------------------------------------------------------

.top-results,
.search{
    flex-wrap: wrap;
    margin: 0 -15px;

    li {
        max-width: 33.3%;
        margin-bottom: 20px;;
        padding: 0 10px;
        width: 33.3%;

        @media only screen and (max-width: 600px) {
            max-width: 100%;
            width: 100%;
        }
    }

    p {
        flex-grow: 1;
    }
}

.category-news {
    overflow-x: auto;

    li {
        flex-shrink: 0;
        max-width: calc(20% - 10px);
        margin-right: 10px;;
        width: calc(20% - 10px);

        @media only screen and (max-width: 750px) {
            max-width: calc(33.3% - 10px);
            width: calc(33.3% - 10px);
        }

        @media only screen and (max-width: 600px) {
            max-width: calc(100% - 10px);
            width: calc(100% - 10px);
        }
    }
}

.top-results,
.category-news,
.search {
    display: flex;
    padding: 0;

    li {
        display: flex;
        flex-direction: column;

        > div {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: #fff;
            border-radius: 15px;
            overflow: hidden;
            text-align: center;
        }
    }

    img {
        width: 100%;
    }

    h2 {
        border-bottom: 1px solid $border-color;
        font-size: 17px;
        margin: 0 auto 15px;
        max-width: 70%;
        padding: 15px 0;
        word-break: break-all;
        width: 100%;
    }

    p {
        font-size: 14px;
        padding: 0 15px 15px;
    }

    a {
        color: $dark-txt-color;
        display: block;
        font-size: 12px;
        padding: 0 15px 15px;
        transition: all .2s ease;
        text-align: right;

        &:hover {
            color: $btn-color;
        }
    }
}

.search {
    .search-message {
        font-size: 20px;
        text-align: center;
    }
}
