{{#> layouts/base title="Page One" }}

    {{#*inline "main-block"}}
        <div class="tabs">
            <div class="tab-item tab-is-active" id="tab-top-news">
                <ul id="js-top-results" class="top-results"></ul>
            </div>
            <div class="tab-item" id="tab-categories">
                Kategorije
            </div>
        </div>
    {{/inline}}

{{/layouts/base}}