//--------------------------------------------------------------
// Colors
//--------------------------------------------------------------

$dark-txt-color: #000a14;
$btn-color: #4A98DA;
$header-bg: #fff;
$body-bg: #e7eaed;
$border-color: #808080;