//--------------------------------------------------------------
// Colors
//--------------------------------------------------------------

$dark-txt-color: #000a14;
$border-color: #808080;
$btn-color: #c09175;
$header-bg: #fee3D4;