//--------------------------------------------------------------
// HTML Elements
//--------------------------------------------------------------

body {
    background-color: $body-bg;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.main {
    flex-grow: 1;
    margin: auto;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    
    @media only screen and (min-width: 600px) {
        max-width: 1130px;
    }
}

//-----------------------------------------
// Iframes
//-----------------------------------------
embed,
iframe,
object {
	max-width: 100%;
} // embed, iframe, object

figure {
	margin: 0;
} // figure

//-----------------------------------------
// Lists
//-----------------------------------------
ul,
ol,
p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}