<div class="header-wrapper">
    <div class="header-wrapper-item">
        <span class="header-navigation-burger"></span>
        <div class="header-navigation">
            <a href="javascript:;" class="header-navigation-link">Top news</a>
            <a href="javascript:;" class="header-navigation-link">Categories</a>
            <div class="header-navigation-search">
                <span id="js-input-trigger" class="header-navigation-link">Search</span>
                <div id="js-input-wrapper" class="header-input-wrapper">
                    <input type="text" class="header-input">
                </div>
            </div>
        </div>
    </div>
    <div class="header-wrapper-item">
        <span class="header-lang-burger"></span>
        <div class="header-lang">
            <a href="javascript:;" class="header-lang-btn btn-is-active">gb</a>
            <a href="javascript:;" class="header-lang-btn">en</a>
        </div>
    </div>
</div>